trial_id: Ochsenwasen-2025
plot_id_field: plot_id
year: 2025
ndvi_file: data/ndvi_ochsenwasen_2025.csv
# sensorthingsapi_url: "http://localhost:8080/FROST-Server/v1.1"
pygeoapi_url: "http://localhost:5000"
sensorthingsapi_url: "https://tuzehez-fairagro.srv.mwn.de/frost/v1.1"
# pygeoapi_url: "https://tuzehez-fairagro.srv.mwn.de/pygeoapi"
# Datastreams
datastreams:
  # NDVI - Normalized Difference Vegetation Index
  - name: "NDVI - Trial Plot {plot_id}"
    description: "Normalized Difference Vegetation Index (NDVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 1
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Normalized Difference Vegetation Index"
    properties:
      raster_data: "NDVI"
      spectral_index:
        name: "NDVI"
        formula: "(NIR - Red) / (NIR + Red)"


  # NDRE - Normalized Difference Red Edge Index
  - name: "NDRE - Trial Plot {plot_id}"
    description: "Normalized Difference Red Edge Index (NDRE) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 2
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Normalized Difference Red Edge Index"
    properties:
      raster_data: "NDRE"
      spectral_index:
        name: "NDRE"
        formula: "(NIR - RedEdge) / (NIR + RedEdge)"

  # GNDVI - Green Normalized Difference Vegetation Index
  - name: "GNDVI - Trial Plot {plot_id}"
    description: "Green Normalized Difference Vegetation Index (GNDVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 3
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Green Normalized Difference Vegetation Index"
    properties:
      raster_data: "GNDVI"
      spectral_index:
        name: "GNDVI"
        formula: "(NIR - Green) / (NIR + Green)"

  # SAVI - Soil Adjusted Vegetation Index
  - name: "SAVI - Trial Plot {plot_id}"
    description: "Soil Adjusted Vegetation Index (SAVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 4
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Soil Adjusted Vegetation Index"
    properties:
      raster_data: "SAVI"
      spectral_index:
        name: "SAVI"
        formula: "((NIR - Red) / (NIR + Red + L)) * (1 + L). where L is a soil brightness correction factor (typically 0.5)"

  # CIRedEdge - Chlorophyll Index Red Edge
  - name: "CIRedEdge - Trial Plot {plot_id}"
    description: "Chlorophyll Index (CIRedEdge) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 5
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Chlorophyll Index (CIRedEdge)"
    properties:
      raster_data: "CIRedEdge"
      spectral_index:
        name: "CIRedEdge"
        formula: "(NIR / RedEdge) - 1"

  # MCARI - Modified Chlorophyll Absorption in Reflectance Index
  - name: "MCARI - Trial Plot {plot_id}"
    description: "Modified Chlorophyll Absorption in Reflectance Index (MCARI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 6
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Modified Chlorophyll Absorption in Reflectance Index (MCARI)"
    properties:
      raster_data: "MCARI"
      spectral_index:
        name: "MCARI"
        formula: "((NIR - RED) - 0.2 * (NIR - GREEN)) * (NIR / RED)"

# Raster Images
raster_images:
- path: D:\\GISDATA\\FAIRagro_Data\\UAV Images\\2025\\20250506\\250506_Fairagro_DOP.tif
  timestamp: '2025-05-06T09:00:00+01:00'
- path: D:\\GISDATA\\FAIRagro_Data\\UAV Images\\2025\\20250602\\250602_Fairagro_DOP.tif
  timestamp: '2025-06-02T09:00:00+01:00'
- path: D:\\GISDATA\\FAIRagro_Data\\UAV Images\\2025\\20250625\\20250625_dop.tif
  timestamp: '2025-06-25T09:00:00+01:00'
- path: D:\\GISDATA\\FAIRagro_Data\\UAV Images\\2025\\20250708\\20250708.tif
  timestamp: '2025-07-08T09:00:00+01:00'

vegetation_indices:
- name: NDVI
  process: ndvi
  bands:
    red_band: 5
    nir_band: 7
- name: NDRE
  process: ndre
  bands:
    red_edge_band: 6
    nir_band: 7
- name: GNDVI
  process: gndvi
  bands:
    green_band: 4
    nir_band: 7
- name: SAVI
  process: savi
  bands:
    red_band: 5
    nir_band: 7
- name: CIRedEdge
  process: cirededge
  bands:
    red_edge_band: 6
    nir_band: 7
# - name: MCARI
#   process: mcari
#   bands:
#     red_band: 5
#     green_band: 4
#     nir_band: 7

