# ---------------------------
# TRIAL INFORMATION
# ---------------------------
trial_id: Goetheweg-2024
plot_id_field: ID
year: 2024

# ---------------------------
# DATASTREAMS
# ---------------------------
datastreams:
  # NDVI - Normalized Difference Vegetation Index
  - name: "NDVI - Trial Plot {plot_id}"
    description: "Normalized Difference Vegetation Index (NDVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 1
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Normalized Difference Vegetation Index"
    properties:
      raster_data: "NDVI"
      spectral_index:
        name: "NDVI"
        formula: "(NIR - Red) / (NIR + Red)"


  # NDRE - Normalized Difference Red Edge Index
  - name: "NDRE - Trial Plot {plot_id}"
    description: "Normalized Difference Red Edge Index (NDRE) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 2
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Normalized Difference Red Edge Index"
    properties:
      raster_data: "NDRE"
      spectral_index:
        name: "NDRE"
        formula: "(NIR - RedEdge) / (NIR + RedEdge)"

  # GNDVI - Green Normalized Difference Vegetation Index
  - name: "GNDVI - Trial Plot {plot_id}"
    description: "Green Normalized Difference Vegetation Index (GNDVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 3
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Green Normalized Difference Vegetation Index"
    properties:
      raster_data: "GNDVI"
      spectral_index:
        name: "GNDVI"
        formula: "(NIR - Green) / (NIR + Green)"

  # SAVI - Soil Adjusted Vegetation Index
  - name: "SAVI - Trial Plot {plot_id}"
    description: "Soil Adjusted Vegetation Index (SAVI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 4
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Soil Adjusted Vegetation Index"
    properties:
      raster_data: "SAVI"
      spectral_index:
        name: "SAVI"
        formula: "((NIR - Red) / (NIR + Red + L)) * (1 + L). where L is a soil brightness correction factor (typically 0.5)"

  # CIRedEdge - Chlorophyll Index Red Edge
  - name: "CIRedEdge - Trial Plot {plot_id}"
    description: "Chlorophyll Index (CIRedEdge) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 5
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Chlorophyll Index (CIRedEdge)"
    properties:
      raster_data: "CIRedEdge"
      spectral_index:
        name: "CIRedEdge"
        formula: "(NIR / RedEdge) - 1"

  # MCARI - Modified Chlorophyll Absorption in Reflectance Index
  - name: "MCARI - Trial Plot {plot_id}"
    description: "Modified Chlorophyll Absorption in Reflectance Index (MCARI) for Trial Plot {plot_id}"
    observationType: "http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement"
    Sensor:
      "@iot.id": 1
    ObservedProperty:
      "@iot.id": 6
    unitOfMeasurement:
      name: ""
      symbol: ""
      definition: "Modified Chlorophyll Absorption in Reflectance Index (MCARI)"
    properties:
      raster_data: "MCARI"
      spectral_index:
        name: "MCARI"
        formula: "((NIR - RED) - 0.2 * (NIR - GREEN)) * (NIR / RED)"

# ---------------------------
# RASTER IMAGES
# ---------------------------
raster_images:
- path: data/DOP_20240306_TD_D1_Rangacker_MCA_4cm_UTM32.tif
  timestamp: '2024-03-06T09:00:00+01:00'
  description: UAV Image from March 6, 2024
- path: data/DOP_AD24_TD_20240405_D2_MCA_V2_3cm_UTM32.tif
  timestamp: '2024-04-05T09:00:00+01:00'
  description: UAV Image from April 5, 2024

# ---------------------------
# VEGETATION INDICES
# ---------------------------
vegetation_indices:
- name: NDVI
  process: ndvi
  bands:
    red_band: 2
    nir_band: 5
  description: Normalized Difference Vegetation Index
- name: NDRE
  process: ndre
  bands:
    red_edge_band: 3
    nir_band: 5
  description: Normalized Difference Red Edge Index
- name: GNDVI
  process: gndvi
  bands:
    green_band: 1
    nir_band: 5
  description: Green Normalized Difference Vegetation Index
- name: SAVI
  process: savi
  bands:
    red_band: 2
    nir_band: 5
  description: Soil Adjusted Vegetation Index
- name: CIRedEdge
  process: cirededge
  bands:
    red_edge_band: 3
    nir_band: 5
  description: Chlorophyll Index Red Edge
- name: MCARI
  process: mcari
  bands:
    red_band: 2
    green_band: 1
    nir_band: 5
  description: Modified Chlorophyll Absorption Ratio Index
